<footer class="site-footer h-card">
  <div class="animation-container">
    <div class="row">
      <div class="darkest rectangle"></div>
      <div class="dark rectangle"></div>
    </div>
    <div class="row">
      <div class="light rectangle"></div>
      <div class="lightest rectangle"></div>
    </div>
  </div>
  <!-- </div>
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="footer-wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
              {%- if site.email -%}
                <li class="footer-link"><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          <p class="footer-link"><a href="//justinike.substack.com">Newsletter</a></p>
        </div>
      </div>
  
    </div> -->
  
  </footer>
  