<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.ico" >


  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="animation-container">
        <div class="row">
          <div class="darkest rectangle"></div>
          <div class="dark rectangle"></div>
        </div>
        <div class="row">
          <div class="light rectangle"></div>
          <div class="lightest rectangle"></div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
