<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.ico" >
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">

            <div class="gallery-wrapper">
                <article class="post">
                    <header class="post-header">
                        <h1 class="post-title">{{ page.title | escape }}</h1>
                    </header>

                    <div class="post-content">
                        {{ content }}
                    </div>

                    <ul class="tag-ul">
                        <a href="#spider-man"><li href="#spider-man" class="tag-li">Spider-Man Miles Morales</li></a>
                        <a href="#jedi-fallen-order"><li class="tag-li">Jedi Fallen Order</li></a> 
                        <a href="#control"><li class="tag-li">Control</li></a> 
                    </ul>

                    <div class="gallery">
                        <h2 id="spider-man"> Spider-Man Miles Morales </h2>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711214852.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711215538.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210714200751.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210710172126.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210713224731.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711223823.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210710152037.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712213117.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711213901.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712215713.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711214242.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711212404.jpg">
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712204538.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210714210334.jpg">
                            </div>
                        </div>
                        <br>
                        <h2 id="jedi-fallen-order"> Star Wars Jedi: Fallen Order </h2>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809185453.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728182549.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728182924.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728203731.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728203440.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728185216.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728185856.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210803195533.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728212941.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730212548.jpg ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730213939.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730222610.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210810202114.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730223803.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210803200129.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811213130.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210805210627.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210804204342.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210804204031.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210808154028.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811195854.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811202611.jpg">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809184315.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809183741.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809191308.jpg">
                            </div>
                        </div>
                        <br>
                        <h2 id="control"> Control </h2>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520222030.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521230338.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510195139.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510221751.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512193644.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510200936.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510201946.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512201736.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512214723.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520202632.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210519211227.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210518195818.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210519221309.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520203341.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210517214221.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211157.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211422.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211609.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520224135.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520224907.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225005.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225033.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225703.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521220501.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521222115.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521222400.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525205419.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214353.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214729.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214556.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525221333.jpg'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525221503.jpg'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521211639.jpg'>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </main>
    </body>
</html>