<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.ico" >
    {%- include head.html -%}
    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">

            <div class="gallery-wrapper">
                <article class="post">
                    <header class="post-header">
                        <h1 class="post-title">{{ page.title | escape }}</h1>
                    </header>

                    <div class="post-content">
                        {{ content }}
                    </div>

                    <ul class="tag-ul">
                        <a href="#spider-man"><li href="#spider-man" class="tag-li">Spider-Man Miles Morales</li></a>
                        <a href="#jedi-fallen-order"><li class="tag-li">Jedi Fallen Order</li></a> 
                        <a href="#control"><li class="tag-li">Control</li></a> 
                    </ul>

                    <div class="gallery">
                        <h2 id="spider-man"> Spider-Man Miles Morales </h2>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711214852.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711215538.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210714200751.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210710172126.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210713224731.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711223823.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210710152037.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712213117.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711213901.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712215713.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711214242.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210711212404.png">
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210712204538.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/Spiderman/Marvel's Spider-Man_ Miles Morales_20210714210334.png">
                            </div>
                        </div>
                        <br>
                        <h2 id="jedi-fallen-order"> Star Wars Jedi: Fallen Order </h2>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809185453.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728182549.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728182924.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728203731.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728203440.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728185216.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728185856.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210803195533.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210728212941.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730212548.png ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730213939.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730222610.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210810202114.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210730223803.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210803200129.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811213130.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210805210627.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210804204342.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210804204031.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210808154028.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811195854.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210811202611.png">
                            </div>
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809184315.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809183741.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="../assets/images/Screenshots/STAR WARS Jedi_ Fallen Order/STAR WARS Jedi_ Fallen Order_20210809191308.png">
                            </div>
                        </div>
                        <br>
                        <h2 id="control"> Control </h2>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520222030.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521230338.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510195139.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510221751.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512193644.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510200936.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210510201946.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512201736.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210512214723.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520202632.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210519211227.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210518195818.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210519221309.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520203341.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210517214221.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211157.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211422.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520211609.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520224135.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520224907.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225005.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225033.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210520225703.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521220501.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521222115.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521222400.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525205419.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214353.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214729.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525214556.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525221333.png'>
                            </div>
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210525221503.png'>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src='../assets/images/2021-05-30-Control/Control Ultimate Edition_20210521211639.png'>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </main>
    </body>
</html>