---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <img class="post-image" src="/assets/images/{{ page.image }}"> 
    <div class="post-header-text">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}
        <br>
        Tags:
        {% for tag in page.tags %}
              {{ tag }}
        {% endfor %}
      </p>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="author-card">
    <img src="/assets/images/favicon.png" alt="logo" class="card-image">
    <div class="card-container">
      <h2>justinike</h2>
      <p>I'm a student writing about life, my interests, and computing.</p>
      <p>
        Subscribe to my 
        <a href="https://justinike.substack.com">email newletter</a>
      </p>
    </div>
  </div>

  <div class="pageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
