---
layout: default
---

<article class="post">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {% capture tags %}
        {% for tag in site.tags %}
            {{ tag[0] }}
        {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <ul class="tag-ul">
        {% for tag in sortedtags %}
            <li class="tag-li">
                <button class="tag-button" tag="{{ tag }}">{{ tag }}</button>
            </li> 
        {% endfor %}
    </ul>

    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
        <a class="post-link" href="{{ post.url | relative_url }}" tags="{{ post.tags }}">
          <div class="post-text">
            <img class="post-image" src="/assets/images/{{ post.image }}" style="max-width: 30px;">
            {{ post.title | escape }}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </div>
        </a>
        
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
</article>


<script>
    var button = document.getElementsByClassName("tag-button");
    var posts = document.getElementsByClassName("post-link");
    var i;
    
    for (i = 0; i < button.length; i++) {
      button[i].addEventListener("click", function() {
        
        var j;
        for (j = 0; j < posts.length; j++){
            if (posts[j].getAttribute("tags").includes(this.getAttribute("tag"))){
                posts[j].style.display = "block";
            }
            else {
                posts[j].style.display = "none";
            }
        }
    });
    }
</script>
